*{
    margin: 0;
    padding: 0;
    
}
.menu{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex; */
   
}
.menu form{
    background-color:white  ;
    font-size: 14px;
    border-radius: 14px;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 6%;
    padding: 3%;
    box-shadow: 0px 0px 12px lightgray;
    
}
.menu input {
    width: 9cm;
    height: 1cm;
    outline: 0;
    border-radius: 10px;
    padding-left: 20px;
    border:1px solid gray;

}
.menu select{
    
    border-radius: 10px;

}
.select{
    width: 12px;
}
#favouratefood{
    font-weight: bold;
    width:  9.6cm;
    height: 1.2cm;
    outline: 0;
}
.button{
    width: 9.6cm;
    height: 1.2cm;
    border-radius: 10px;
    background-color: orangered;
    border: 0;
    margin-top:4rem;
    color: white;
    text-align: center;
    line-height: 1.2cm;
    text-decoration: none;
    font-size: 14px;
    margin-top: 2%; 
}

#header{
    color: orangered;
    font-size: 20px;
}